html,body{
	height:100%;
}
.container.body{
	position: relative;
}
.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    margin: 0;
    height: 100%;
    width: 100%;
}
.scrollmargin {
    height: 10px;
    text-align: center;
}
.lex-content{
	position: relative;
}
.table-scroll tr{
	width:100%;
	display: inline-table;
	text-align: left;
}
table.table-scroll{
	top:0;
	position: relative;
	width: 100%;
	margin:0;
}
.table-scroll thead{
	position: absolute;
	width:100%;
}
.table-scroll tbody{
	margin-top: 37px;
	overflow-y: scroll;
	height:calc(100% - 37px);
	width:100%;
	position: absolute;
}
.table-scroll td,
.table-scroll th{
	width:33%;
}